@keyframes amiibohover{
    0% {top: 0px;
        mask-position: 0% 0%;
        -webkit-mask-position-y: 0%;}
    50% {top: 30px;
        mask-position: 0% -30px;
        -webkit-mask-position-y: -30px;}
    100% {top: 0px;
        mask-position: 0% 0%;
        -webkit-mask-position-y: 0%;}
}

@keyframes amiibofall{
    0% {top: 0px;
        mask-image: none;
        -webkit-mask-image: none;}
    100% {top: 50px;
        mask-image: none;
        -webkit-mask-image: none;}
}

@keyframes amiiboparticle{
    0% {opacity: 1;
        transform: scale(1);}
    20% {transform: scale(0.8);}
    100% {opacity: 0;
        transform: scale(1.3);
        }
}

#mario{
    position: relative;
    height: 100px;
}

#mario.nothovered{
    opacity: 0;
}

#mario.hovered{
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 60%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 60%);
    mask-size: 130% 130%;
    -webkit-mask-size: 130% 130%;
    mask-repeat: no-repeat;
    animation-name: amiibohover;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#mario.collecting{
    animation-name: amiibofall;
    animation-duration: 0.1s;
    animation-iteration-count:1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

#podium {
    margin-top: 30px;;
    height: 100px;
}

#amiiboCollection{
    margin: 60px;;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amiibo-particle{
    position: relative;
    z-index: 10;
}

.amiibo-particle > img{
    position: absolute;
    height: 50px;
    opacity: 0;
    top: 20px;
}

.amiibo-particle > img.showing{
    animation-name: amiiboparticle;
    animation-duration: 0.3s;
    animation-iteration-count:1;
    animation-timing-function: none;
    animation-fill-mode: forwards;
}

#amiiboleft{
    left: 0;
    transform-origin: right;
}

#amiiboright{
    right: 0;
    transform-origin: left;
}